<div class = "quest_el">
    <div class="for_edit hide_el  sub_form_quest">

        <form class="form-horizontal">
            <p class  = "sub_fields"> Дополнительные поля </p>

            <div class="form-group"><label class="col-lg-6 label_demo">Очки игры</label>
                <div class="col-lg-6"><input type="text" placeholder="0" value="{{el_quest.point_answer}}"  class="form-control"> 
                <!-- <span class="help-block m-b-none">Очки ко</span> -->
                </div>
            </div>

            <div class="form-group"><label class="col-lg-6 label_demo">Очки емоций</label>
                <div class="col-lg-6"><input  type="text" placeholder="0" value="{{el_quest.point_emotions}}"  class="form-control"> 
                <!-- <span class="help-block m-b-none">Очки ко</span> -->
                </div>
            </div>

            <div class="form-group"><label class="col-lg-6 label_demo">Ответ клиента</label>
                <div class="col-lg-6"><input type="text" placeholder="Номер вопроса клиента" value="{{el_quest.question_answer}}"  class="form-control"> 
                <!-- <span class="help-block m-b-none">Очки ко</span> -->
                </div>
            </div>
           
        </form>
    </div>

    <div class="panel panel_demo head_collaps">
    <!-- <a data-toggle="collapse"  href="#{{ el_quest.id}}ans" aria-expanded="true" class=""> -->
        <button class = "button_diag dell_quest"> <i class="fa fa-trash-o"> </i> </button>
        <!-- <button class = "button_diag edit_quest"> <i class="fa fa-cog"> </i> </button> -->
        <div class="text_head_client end_point_relation" id  = "{{ el_quest.id }}for_dot" >
            <a title="{{el_quest.text_questions}}"  child="#{{ el_quest.id }}ans" class="collapsed">
                
                <span class = "head_section client "> {{ el_quest.id }} </span>
                <span class="badge_down"> 
                    <i class="fa fa-sort-desc"></i>
                </span>
                
                 
            </a> 
            <div class="ep"></div> 
        </div>     
  
    </div> 
</div>