<div id="ajax-wrapper">
	{% for game in games %}
	

	
	<div class="col-md-2" id = "{{ game.id }}">
                  
                
		<div class="window_game">

			<a class="close-link button_del_game" game_id = "{{ game.id }}">
			    <i class="fa fa-times"></i>
			</a>

			<div class="ava"></div>
			<a class = "ajax_config_game" href="/game/config_game/{{ game.id }}/">
		    <div class = "game_name"> 	
		     	<h3 class="font-bold no-margins">
		            {{ game.name }}
		        </h3>
		    </div>
		    </a>
		</div>
	</div>
	
	{% endfor %}
</div>
