<div id="ajax-wrapper">
	{% for game in games %}
	<div class="col-md-2" id = "{{ game.id }}">
                  
                
		<div class="window_game">

			<a class="close-link button_del_game" game_id = "{{ game.id }}">
			    <i class="fa fa-times"></i>
			</a>
		    <div class="m-b-md">
		        <!-- <i class="fa fa-shield fa-4x"></i> -->
		        <!-- <h1 class="m-xs">456</h1> -->
		       
		        <!-- <small>T</small> -->
		    </div>
			<div class="ava"></div>
		    <div class = "game_name"> 	
		     	<h3 class="font-bold no-margins">
		            {{ game.name }}
		        </h3>
		    </div>
		</div>
	</div>
	{% endfor %}
</div>
