.add_game_form{
	color: #000;
}
.errorlist{
	list-style-type:none;
}
.add_game_place{
	max-width: 600px;
	padding-top: 5%;

}
.button_del_game{	
	position: absolute;
	top: -1px;
	right: 5px;
	font-size: 22px;
	color: #232221;
	height: 21px;
	padding: 0px !important;
	width: 24px;
	z-index: 10;
	border-radius: 5px;

}

.window_game{
	display: block;
	margin: 10px;
	background-color: #EAF1F3;
	color: rgb(245, 245, 245);
	text-align: center;
	height: 200px;
	position: relative;
	border-radius: 2px;

}

.game_name{
	background-color: rgb(0, 171, 72);
	color: #fff;
	padding: 4px;
	text-align: center;
	margin-top: 99px;
	position: absolute;
	width: 108%;
	bottom: 0px;
	height: 50px;
	left: -4%;
	padding-top: 14px;
	border-radius: 2px;

}
.ava{
	background-color: #fff;
	position: absolute;
	height: 135px;
	top: 7px;
	left: 5%;
	border-radius: 5px;
	width: 90%;;

}

