
{% extends "base.html" %}

{% load staticfiles %}

{% block partleft %}
	{% include 'part_left.html' %}
{% endblock %}

{% block parttop %}
	
{% endblock %}

{% block partmiddle %}
<div id="ajax-wrapper">
	<div>
	    <ul class="nav nav-tabs">
	      	<li role="presentation" class="{{act_game }}"><a class = "ajax_child" href="/tree/index" ><span class="glyphicon glyphicon-send" ></span> &nbsp Игра</a></li>
        	<li role="presentation" class="{{act_history }}"><a class = "ajax_child" href="/tree/history">Журнал</a></li>	
        	<li role="presentation" class="{{act_profile }}"><a  class = "ajax_child" href="/tree/profile" >Профайл</a></li>
	      	<li role="presentation" class="{{act_statistic }}"><a  class = "ajax_child" href="/tree/statistic"  >Статистика</a></li>
	      	<li role="presentation" class="{{act_prod }}"><a class = "ajax_child" href="/tree/part_prod"  >Товары</a></li>
	      	<li role="presentation" class=""><a href="/admin">Admin</a></li>
	      	<li role="presentation" class=""><a href="/tree/diagrama">Diagrama</a></li>
	    </ul>
	    <div class = "backg">
	        <div class = "backg_child" >
			{% block game %}
				
				<audio autoplay="autoplay">
					{%  if answer.media_file %}
					<source src="{{answer.media_file.url}}" type="audio/mpeg">
					{% endif %}
				</audio>
				<div class = "main-div">
					<div class="row" >
						 			
				 		<div class="col-md-5">

				 			{% block progres_bar_left %}
				 			{# <p class="budge-left">Очки</p> #}
				 			
				 			<img   id ="badge-left" src="{% static "game_01_img/points.png" %}" alt="Очки" > 
				 			
								{% include 'tree/for_ajax/points.html' %}
							
							{% endblock %}
						</div>	
						
						<div class="col-md-2">
							<!-- <a href="/tree/part_prod/"> <button type="button" class="btn btn-success" style="margin-top: 25px;background-color: #1F6077;
  														border-color:#1F6077;" >Товары</button> </a> -->		
						</div>
						
				 		<div class="col-md-5">
				 			{% block progres_bar_right %}
				 			{# <p class="budge-right">Емоции</p> #}
				 			<img   id ="badge-right" src="{% static "game_01_img/emotions_3.png" %}" alt="эмоции" > 
				 			<div id  = "right_progres_bar" class="pull-right for_progress_bar progress">
								  {% include 'tree/for_ajax/emotions.html' %}
							</div>
							{% endblock %}	
				 		</div>
				 	</div>

					<div class="row">
						<div class="col-md-2">
							<a class="btn btn-success offer_product" href="#" data-toggle="modal" data-target="#offer_prod">
								<i class="fa fa-money"> </i><small>Предложить услугу</small>
							</a>
							<div class="modal fade" id="offer_prod" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div id = "modal_dialog" class="modal-dialog " style="left: -23%;">
							    <div class="modal-content_1">
								    <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title">Выберите услугу</h4>
								    </div>
							     	{% include 'tree/part_for_product.html' %}
								    
							    </div> 
							  </div>
							</div>
						</div>
						<div class="col-md-6">
							<div id ="main_pop"  class="display_main_popover popover left" >
				  				<div id = "arrow_left" class="arrow"></div>
				  
				  					{% include 'tree/for_ajax/popover_content.html' %}
							
							</div>
						</div>
						<div class="col-md-3">
							<div style="height: 302px;" >
							<img class="women" src="/static/game_01_img/women3.png">
							</div>
						</div>

						<div class="col-md-1"></div>
					</div>

					{% block main_bottom %}
					<div class="row" >
				 		<div class="col-md-12" >
					 		<div id = "place-botton" >						 		
					 			{% include 'tree/for_place_button.html' %}			 		
					 		</div>
				 		</div>					 		
				 	</div>
				 	{% endblock %}
				</div>
				
			{% endblock %}
			</div>
	    </div>
	</div>
<div id="for_ajax" style = "display:none;">
	
</div>
</div>
{% endblock %}


