
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>jsPlumb 1.7.5 demo - statemachine (Vanilla)</title>
    <link href="font-awesome/css/font-awesome.css"  rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="jsplumb.css">
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="bootstrap.css">
    <script src="jquery-2.1.1.js"></script>
    <script src="jquery-ui.js"></script>
 
</head>
    
    <body data-demo-id="statemachine" data-library="dom">

        <div id="main">
            <!-- demo -->
            <div class="demo statemachine-demo" id="statemachine-demo">
                <div class = "all" id  = "quest1">
                    <div class=" klient_section">

                        <button class = "button_diag"><i class="fa fa-trash-o"></i></button>
                        <button class = "button_diag"><i class="fa fa-keyboard-o"></i></button>
                        <header class = "head_section client"> <span class = "text_head_client"> Клиент </span></header>
                     
                        <textarea class="input_text ansewr_back"  placeholder ="Вопрос" >Здрасвуйте</textarea>
                         
                     
                        <div class = "head_section consultant">
                            <div style  = "height:22px;"> Консультант </div>
                                <div class="w block_answers jsplumb-droppable" id="opened">
                                    <button class = "button_diag"><i class="fa fa-trash-o"></i></button>
                                    <button class = "button_diag"><i class="fa fa-keyboard-o"></i></button>
                                    <div class="ep"></div>
                                    <textarea class="input_text_answer input_text "  placeholder ="Вопрос" >Что подсказать</textarea>
                                    <div class="for_edit hide_el"></div>
                                </div>
                            <!-- <div style = "height:3px;"></div> -->
                        </div>    
                    </div>  
                </div>

                <div class = "all" id  = "quest2">
                    <div class="klient_section">
                        <button class = "button_diag"><i class="fa fa-trash-o"></i></button>
                        <button class = "button_diag"><i class="fa fa-keyboard-o"></i></button>
                        <header class = "head_section client"> <span class = "text_head_client"> Клиент </span></header>
                       </div>
                        <textarea class="input_text"  placeholder ="Вопрос" >Нужен телефон орехи колоть</textarea>
                        <div class="ep"></div>
                    
                    <div class = "head_section consultant">Консультант</div>
                    <div class="w block_answers jsplumb-droppable" id="opened2">
                        <button class = "button_diag"><i class="fa fa-trash-o"></i></button>
                        <button class = "button_diag"><i class="fa fa-keyboard-o"></i></button>
                        <div class="ep"></div>
                        <textarea class="input_text"  placeholder ="Вопрос" >Ядра чистый изумруд?</textarea>
                        <div class="for_edit hide_el"></div>
                    </div>

                </div>
                <!-- <div class = "all">
                  <div class="w" id="phone2">PHONE INTERVIEW 2
                      <div class="ep"></div>
                  </div>
                  <div class="w" id="inperson">IN PERSON
                      <div class="ep"></div>
                  </div>
                  <div class="w" id="rejected">REJECTED
                      <div class="ep"></div>
                  </div>
                </div> -->
            </div>
            <!-- /demo -->
        </div>
    
    
    
    <script src="dom.jsPlumb-1.7.5.js"></script>
    
    <script src="demo.js"></script>

    
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15400992-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
        
     </body>
</html>