{% extends "gameplace.html" %}

{% block game %} 
  <div>
    <table class="table table-striped table-bg">
      <thead>
        <tr>
          <th>#</th>
          <th>Слова покупателя</th>
          <th>Ваши слова</th>
          <th>Лучший ответ</th>
          <th></th>
          <th>Очки</th>
          <th>Деньги</th>
        </tr>
      </thead>
      <tbody>
      {% for entry in history_entry %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ entry.answer_output }} </td>
          <td>{{ entry.question_output }} </td>
          <td> {{ entry.best_choise }} </td>
          <td style="width:20px;">
            <button type="button" class="btn btn-default"  data-container="body" data-toggle="popover" data-placement="left" data-content="Здесь обьясняется суть правильного ответа">
               <span class="glyphicon glyphicon-question-sign" P></span>
            </button> 
          </td>
          <td>{{ entry.point }} </td>
          <td>{{ entry.money }} </td>
        </tr>
      {%endfor%}
      <tr>
          <th class="invisible">1</th>
          <td class="invisible">1</td>
          <td class="invisible">1</td>
          <td class="invisible">1</td>
          <td ><h4>Итого:</h4> </td>
          <td ><h4>{{ total_point }}</h4> </td>
          <td ><h4>{{ total_money }}</h4> </td>
        </tr>
      </tbody>
    </table>      
  </div>


{% endblock %}