{% extends "gameplace.html" %}
{% block game %}
	<div style = "padding: 1%;" >
    <table class="table table-bordered table-bg table-width">
      <thead>
        <tr>
          <th>#</th>
          <th>Игры</th>
          <th>Очки</th>
          <th>Деньги</th>

        </tr>
      </thead>
      <tbody>

      {% for el_sesion in list_sesions %}
		    <tr>
          <th scope="row" >{{ forloop.counter }}</th>          
            <td style="text-align:center;"><a class = "ajax_child" href="/tree/session/{{ el_sesion.session_output }}/">{{el_sesion.date_create }}</a> </td>
            <td style="text-align:right;">  {{ el_sesion.point }}  </td>
            <td style="text-align:right;">  {{ el_sesion.money }}  </td>
        </tr>
        
	  {%endfor%}
       
      </tbody>
    </table>
  </div>
{% endblock %}