{% for product in list_product %}
<div role="presentation" class = "el_product dropdown">
	<a id="{{product.product.product.name.id}}" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    <img id = "product-img"  src="{{product.product.name.image_product.url}}"> </a>
    </a>

    <div class="div-name" ><h4 >{{product.product.name.name}} </h4>
    
    </div>
    {% if questions %}
	    <a class = "ajax_child" href="/tree/prod/{{product.product.name.id}}">
	    	<button type="button" class="btn btn-primary">Предложить</button>
		</a>  
  	{%endif%}
    <div id="menu2" class="dropdown-menu product_property" role="menu" aria-labelledby="{{product.product.product.name.id}}">
    	<div class="row" >
			<div class="col-md-4" >
			    <h4>Характеристики устройства</h4>
			    
			    <table class="table top_border_table">
			    	<thead>
				        <tr>
				          <th>Свойство</th>
				          <th>Значение</th>
				        </tr>
			        </thead>
			        <tbody>
				      	{% for el_prop in product.product.property %}
				        <tr>
				         	<td style="text-align: right;">{{ el_prop.name_property.name_property_trans  }} :</td>
				         	<td>{{ el_prop.value_property }}</td>
				        </tr>

						{%endfor%}  
					</tbody>
				</table> 

			</div>
			<div  class="col-md-8 descript">
				<h4>Описание</h4>
				<br>

				{{product.product.description}}
			</div>
		</div>
  	</div>
    
	
</div>	

{%endfor%}