<div id="ajax-wrapper">
	<div class="refer">
		<div style= "padding:20px">
			<h1> Правила игры</h1>
			<p>Настоящий документ является неотъемлемым Приложением к Пользовательскому соглашению.

	Данные правила являются обязательными для соблюдения всеми Пользователями Проекта.

	Обращаем ваше внимание на то, что правила и ограничения не являются исчерпывающими и не охватывают все возможные варианты оскорбительного или некорректного поведения.

	Компания Coloris оставляет за собой право ограничить доступ любой учётной записи к Игровым чатам в любое время по причинам, которые включают, но не ограничиваются нарушениями, предусмотренными текущими Правилами. Основным критерием для принятия подобного решения является совершение Пользователем учётной записи действий, препятствующих нормальному ходу Игрового процесса.

	В случае совершения Пользователем комплексных нарушений, представляющих угрозу безопасности других Пользователей, Администрация оставляет за собой право продублировать ограничения, применённые по отношению к учётной записи Пользователя как в Игре, так и на официальном Форуме проекта Симулятор продаж.

	Администрация вправе изменять и удалять любую информацию, размещённую в любой части Проекта, которая представляет угрозу безопасности (жизни, здоровью, тайне личной информации и пр.) других Пользователей, нарушает нормы морали и этики, нарушает законодательство либо данные Правила.

	Многократное нарушение положений Правил игры может повлечь за собой увеличение срока ограничения, вплоть до перманентного (бессрочного) ограничения доступа к учётной записи и/или игровым чатам. В подобных ситуациях срок ограничения определяется Администрацией по собственному усмотрению.

	</p>
			 <a class = "ajax_body" href="/tree/select_prof"><button type="button" class="btn btn-success" style = "margin-left:80%;">Старт</button></a>
		</div>
	</div>
</div>